<%= form_for(search_user_path, method: :get) do |form| %>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, min: DateTime.now - 30, max: DateTime.now + 30%>
  </div>
  <%= form.submit "Search", :name => nil %>
<% end %>


