
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <%= render 'filter' %>

  <div class="col-md-8">
    <% if @user.todos.any? %>
      <h3>Todo List (<%= @user.todos.count %>)</h3>
      <ol>
        <%= render @todos %>
      </ol>
      
    <% end %>
  </div>
  <%= link_to 'New Todo List', edit_user_path %>
</div>