<%= form_for(@todo) do |f| %>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "Create new todo..." %>

  
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date, min: DateTime.now %>
  </div>
  <div class="field">
  	
    <%= f.label :due_time %><br>
    <% if @todo.due_time.nil?
      @todo.due_time = DateTime.now
      end %>
    <%= f.time_field :due_time, :value => @todo.due_time %>
  </div>
  <%= f.label :status, "Created" %>
  <%= f.radio_button :status, "Created" %>
  <%= f.label :status, "Done" %>
  <%= f.radio_button :status, "Done" %>
 

  <%= f.submit "Post" %>
<% end %>