<%= link_to current_user.name, current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.todos.count, "todo") %></span>