<li>

	<%= todo.date %>
	<%= todo.due_time.strftime("%X") %>
	<%= todo.status %>
	
	<% if current_user?(todo.user) %>
		<%= link_to "delete", todo, method: :delete,
									data: { comfirm: "You sure?"} %>
	<% end %>
	<div class="row clearfix">
		<% if todo.done? %>
			<div class="complete">
				<%= link_to "Done", done_todo_path(todo), method: :patch %>
				<%= link_to "Undo", undo_todo_path(todo), method: :patch %>
			</div>
			<div class="todo_item">
				<p style="opacity: 0.4;"><strike><%= todo.description %></strike></p>
			</div>
			
		<% else %>
			<div class="complete">
				<%= link_to "Done", done_todo_path(todo), method: :patch %>
				<%= link_to "Undo", undo_todo_path(todo), method: :patch %>
			</div>
			<div class="todo_item">
				<p><%= todo.description %></p>
			</div>
		<% end %>
	</div>
</li>